COLSANITAS_LOGIN_URL=https://portal.colsanitas.com/sso/login?service=https%3A%2F%2Fappcore.colsanitas.com%2FValidadorDerechos%2Fpages%2Fgestion%2FValidacionDerechos.seam
COLSANITAS_USERNAME=1000459088.prest
COLSANITAS_PASSWORD=TU_PASSWORD
COLSANITAS_HEADLESS=true
COLSANITAS_TIMEOUT=60
COLSANITAS_RESULT_TIMEOUT=180
COLSANITAS_DOWNLOAD_DIR=downloads
CHROME_BINARY=
APP_HOST=127.0.0.1
APP_PORT=8000
